<title>Contact Us</title>
<h1>Tell us something we don't know</h1>

    <ul>
        <li>Home</li>
        <li>Contact</li>
        <li>About</li>
    
    </ul>
    
<%= link_to"home", pages_home_path %>
<%= link_to"contact", pages_contact_path %>
<%= link_to"about", pages_about_path %>